# Database
ACCOUNTS_DATABASE_TYPE=
ACCOUNTS_DATABASE_NAME=
ACCOUNTS_DATABASE_USER=
ACCOUNTS_DATABASE_PASSWORD=
ACCOUNTS_DATABASE_SCHEMA=
ACCOUNTS_FLYWAY_TABLE=

# Cache manager
ACCOUNTS_CACHE_USER=
ACCOUNTS_CACHE_PASSWORD=

# Messaging
ACCOUNTS_MESSAGING_USER=
ACCOUNTS_MESSAGING_PASSWORD=@123456

# Links
VALIDATE_ACCOUNT_LINK=
UPDATE_PASSWORD_LINK=
UPDATE_EMAIL_LINK=
DELETE_ACCOUNT_LINK=

# Authentication
PRIVATE_KEY=
PUBLIC_KEY=
ACCOUNTS_SECRET_KEY=