# --------------------------------------------------------------- ( admin init )
CACHE_ADMIN_PASSWORD=
# ---------------------------------------------------------------- ( admin end )

# ------------------------------------------------------------ ( accounts init )
ACCOUNTS_CACHE_USER=accountsuser
ACCOUNTS_CACHE_PASSWORD=
# ------------------------------------------------------------- ( accounts end )

# --------------------------------------------------------------- ( tasks init )
TASKS_CACHE_USER=tasksuser
TASKS_CACHE_PASSWORD=
# ---------------------------------------------------------------- ( tasks end )