# --------------------------------------------------------------- ( admin init )
DATABASE_ADMIN_USER=postgres
DATABASE_ADMIN_PASSWORD=
# ---------------------------------------------------------------- ( admin end )

# ------------------------------------------------------------ ( accounts init )
ACCOUNTS_DATABASE_NAME=accounts_db
ACCOUNTS_DATABASE_USER=accounts_user
ACCOUNTS_DATABASE_PASSWORD=
ACCOUNTS_DATABASE_SCHEMA=accounts_schema
# ------------------------------------------------------------- ( accounts end )

# --------------------------------------------------------------- ( tasks init )
TASKS_DATABASE_NAME=tasks_db
TASKS_DATABASE_USER=tasks_user
TASKS_DATABASE_PASSWORD=
TASKS_DATABASE_SCHEMA=tasks_schema
# ---------------------------------------------------------------- ( tasks end )