# Messaging
MESSAGING_EMAILSERVICE_USER=
MESSAGING_EMAILSERVICE_PASSWORD=

# Email credentials
EMAIL_ADDRESS_USER=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_SERVICE_PORT=
EMAIL_SMTP_AUTH=
EMAIL_START_TTLS=
