# --------------------------------------------------------------- ( admin init )
MESSAGING_CLUSTER_ID=
MESSAGING_ADMIN_USER=
MESSAGING_ADMIN_PASSWORD=
# ---------------------------------------------------------------- ( admin end )

# ------------------------------------------------------------ ( accounts init )
ACCOUNTS_MESSAGING_USER=
ACCOUNTS_MESSAGING_PASSWORD=
# ------------------------------------------------------------- ( accounts end )

# --------------------------------------------------------------- ( tasks init )
TASKS_MESSAGING_USER=
TASKS_MESSAGING_PASSWORD=
# ---------------------------------------------------------------- ( tasks end )