# Database
TASKS_DATABASE_TYPE=
TASKS_DATABASE_NAME=
TASKS_DATABASE_USER=
TASKS_DATABASE_PASSWORD=
TASKS_DATABASE_SCHEMA=
TASKS_FLYWAY_TABLE=

# Cache manager
TASKS_CACHE_USER=tasksuser
TASKS_CACHE_PASSWORD=

# Messaging
TASKS_MESSAGING_USER=
TASKS_MESSAGING_PASSWORD=
TASKS_TOPIC=

# Authentication
PUBLIC_KEY=
SECRET_KEY=