services:

  nginx:
    container_name: nginx
    hostname: nginx
    build: ../infra-nginx-dockerized
    ports:
      - "80:80"
    networks:
      - spring_net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  accounts_database:
    container_name: accounts_database
    hostname: accounts_database
    image: postgres:latest
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${ACCOUNTS_DATABASE_USER}
      POSTGRES_PASSWORD: ${ACCOUNTS_DATABASE_PASSWORD}
      POSTGRES_DB: ${ACCOUNTS_DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - spring_net

  accounts_redis:
    container_name: accounts_redis
    hostname: accounts_redis
    env_file:
      - .env
    image: redis:latest
    command: [
      "redis-server",
      "--port", "6379",
      "--requirepass",
      "${ACCOUNTS_REDIS_PASSWORD}",
      "--notify-keyspace-events", "Ex"
    ]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - spring_net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      # --- SASL CONFIG ---
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/zookeeper/jaas.conf
      ZOOKEEPER_AUTH_PROVIDER_1: org.apache.zookeeper.server.auth.SASLAuthenticationProvider
      ZOOKEEPER_REQUIRE_CLIENT_AUTH_SCHEME: sasl
      ZOOKEEPER_ALLOW_ANONYMOUS_LOGIN: "false"
      ZOOKEEPER_SUPER_USER: admin

    volumes:
      - ./config/kafka/zookeeper_jaas.conf:/etc/zookeeper/jaas.conf
    networks:
      - spring_net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    hostname: kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    depends_on:
      - zookeeper
    environment:
      # --- Configurações Básicas ---
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,SASL_PLAINTEXT://kafka:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,SASL_PLAINTEXT://localhost:9093
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,SASL_PLAINTEXT:SASL_PLAINTEXT

      # --- SASL Configurações para comunicação com Zookeeper e Clientes ---
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/jaas.conf
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN

      # Este volume é NECESSÁRIO para o Kafka se autenticar no Zookeeper
      KAFKA_ZOOKEEPER_CLIENT_CNXN_REQ: required
      KAFKA_ZOOKEEPER_SASL_ENABLED: "true"
      KAFKA_ZOOKEEPER_SASL_MECHANISM: DIGEST-MD5

    volumes:
      # Certifique-se de que este arquivo também tenha as configurações de autenticação do Kafka no Zookeeper
      - ./config/kafka/kafka_server_jaas.conf:/etc/kafka/jaas.conf
    networks:
      - spring_net

  helloworld:
    container_name: helloworld
    hostname: helloworld
    build: ../helloworld
    env_file:
      - .env
    ports:
      - "${HELLOWORLD_PORT}:${HELLOWORLD_PORT}"
    networks:
      - spring_net

  documentation:
    container_name: documentation
    hostname: documentation
    build: ../documentation
    env_file:
      - .env
    ports:
      - "${DOCUMENTATION_PORT}:${DOCUMENTATION_PORT}"
    networks:
      - spring_net

  email_management_service:
    container_name: email_management_service
    hostname: email_management_service
    build: ../email_management_service
    env_file:
      - .env
    ports:
      - "${EMAIL_SERVICE_PORT}:${EMAIL_SERVICE_PORT}"
    networks:
      - spring_net

  accounts:
    container_name: accounts
    hostname: accounts
    build: ../accounts
    env_file:
      - .env
    ports:
      - "${ACCOUNTS_PORT}:${ACCOUNTS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts_redis
      - kafka
      - email_management_service

  tasks:
    container_name: tasks
    hostname: tasks
    build: ../tasks
    env_file:
      - .env
    ports:
      - "${TASKS_PORT}:${TASKS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts

volumes:
  postgres_data:
  redis_data:
  kafka_data:

networks:
  spring_net:
    driver: bridge