services:

  # First, create the Docker network.
  # $ docker network create spring_net

  # ------------------------------------------------------------- (aux services init)
  nginx:
    build: ../nginx
    container_name: nginx
    env_file:
      - .env
    ports:
      - "${NGINX_PORT}:${NGINX_PORT}"
    networks:
      - spring_net
    volumes:
      - accounts_avatar_uploads:/static/uploads/avatar:ro
    healthcheck:
      test: [ "CMD", "curl", "-f", "-A", "Docker-Healthcheck", "http://nginx/nginx-status" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  database:
    container_name: database
    env_file:
      - .env
    image: postgres:17
    environment:
      POSTGRES_USER: ${DATABASE_ADMIN_USER}
      POSTGRES_PASSWORD: ${DATABASE_ADMIN_PASSWORD}
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    volumes:
      - database_data:/var/lib/postgresql/data
      - ./config/database/init.sh:/docker-entrypoint-initdb.d/init.sh
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_ADMIN_USER} -d postgres" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  cachemanager:
    container_name: cachemanager
    env_file:
      - .env
    image: redis:latest
    command: |
      bash -c '
        echo "[CACHE MANAGER] Fixing permissions...";
        sed -i "s/\r$//" /init/init.sh
        chmod +x /init/init.sh

        echo "[CACHE MANAGER] Starting Redis...";
        redis-server --port ${CACHEMANAGER_PORT} --notify-keyspace-events Ex &

        REDIS_PID=$!
        sleep 2

        echo "[CACHE MANAGER] Running init script..."
        /init/init.sh

        wait $REDIS_PID
      '
    volumes:
      - cachemanager_data:/data
      - ./config/cachemanager:/init
    ports:
      - "${CACHEMANAGER_PORT}:${CACHEMANAGER_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${CACHEMANAGER_ADMIN_PASSWORD} PING | grep PONG" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  streamingmanager:
    container_name: streamingmanager
    env_file:
      - .env
    image: redpandadata/redpanda
    entrypoint: ["bash", "/config/streamingmanager/init.sh"]
    volumes:
      - streamingmanager_data:/var/lib/redpanda/data
      - ./config/streamingmanager/init.sh:/config/streamingmanager/init.sh
    expose:
      - "${STREAMINGMANAGER_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'echo > /dev/tcp/streamingmanager/${STREAMINGMANAGER_PORT}'" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s
  # ------------------------------------------------------------- (aux services end)

  # ----------------------------------------------------------- ( main services init)
  documentation:
    container_name: documentation
    build: ../documentation
    env_file:
      - .env
    expose:
      - "${DOCUMENTATION_PORT}"
    networks:
      - spring_net
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:${DOCUMENTATION_PORT}/actuator/health/liveness || exit 1"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  helloworld:
    container_name: helloworld
    env_file:
      - .env
    build: ../helloworld
    expose:
      - "${HELLOWORLD_PORT}"
    networks:
      - spring_net
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:${HELLOWORLD_PORT}/actuator/health/liveness || exit 1"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  emailservice:
    container_name: emailservice
    build: ../emailservice
    env_file:
      - .env
    expose:
      - "${EMAILSERVICE_PORT}"
    networks:
      - spring_net
    depends_on:
      streamingmanager:
          condition: service_healthy
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:${EMAILSERVICE_PORT}/actuator/health/liveness || exit 1"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  accounts:
    container_name: accounts
    build: ../accounts
    env_file:
      - .env
    expose:
      - "${ACCOUNTS_PORT}"
    networks:
      - spring_net
    volumes:
      - accounts_avatar_uploads:/app/src/main/resources/static/uploads/avatar
    depends_on:
      database:
        condition: service_healthy
      cachemanager:
        condition: service_healthy
      streamingmanager:
        condition: service_healthy
      emailservice:
        condition: service_healthy
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:${ACCOUNTS_PORT}/actuator/health/liveness || exit 1"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  tasks:
    container_name: tasks
    build: ../tasks
    env_file:
      - .env
    expose:
      - "${TASKS_PORT}"
    networks:
      - spring_net
    depends_on:
      database:
        condition: service_healthy
      cachemanager:
        condition: service_healthy
      streamingmanager:
        condition: service_healthy
      emailservice:
        condition: service_healthy
    deploy:
      replicas: 1
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:${TASKS_PORT}/actuator/health/liveness || exit 1"]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s
  # ------------------------------------------------------------ ( main services end)

volumes:
  vault_data:
  database_data:
  cachemanager_data:
  streamingmanager_data:
  accounts_avatar_uploads:

networks:
  spring_net:
    # driver: bridge
    external: true