services:

  nginx:
    container_name: nginx
    build: ../infra-nginx-dockerized
    ports:
      - "80:80"
    networks:
      - spring_net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "9080:9080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: ${PRIVATE_DOMAIN}:9092
      # KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://localhost:8081

  accounts_database:
    container_name: accounts_database
    image: postgres:latest
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${ACCOUNTS_DATABASE_USER}
      POSTGRES_PASSWORD: ${ACCOUNTS_DATABASE_PASSWORD}
      POSTGRES_DB: ${ACCOUNTS_DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - spring_net

  accounts_redis:
    container_name: accounts_redis
    env_file:
      - .env
    image: redis:latest
    command: [
      "redis-server",
      "--port", "6379",
      "--requirepass",
      "${ACCOUNTS_REDIS_PASSWORD}",
      "--notify-keyspace-events", "Ex"
    ]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - spring_net

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    env_file:
      - .env
    ports:
      - 9092:9092
      - 29093:29093
    environment:
      # Cluster Configuration
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      CLUSTER_ID: ${KAFKA_KRAFT_CLUSTER_ID}

      # Listeners Configuration
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # Security Configuration - SASL/PLAIN
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_LISTENER_NAME_SASL_PLAINTEXT_PLAIN_SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule required username="${KAFKA_ADMIN_USER}" password="${KAFKA_ADMIN_PASSWORD}" ";
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "false"

      # Broker Settings
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - spring_net

  helloworld:
    container_name: helloworld
    build: ../helloworld
    env_file:
      - .env
    ports:
      - "${HELLOWORLD_PORT}:${HELLOWORLD_PORT}"
    networks:
      - spring_net

  documentation:
    container_name: documentation
    build: ../documentation
    env_file:
      - .env
    ports:
      - "${DOCUMENTATION_PORT}:${DOCUMENTATION_PORT}"
    networks:
      - spring_net

  email_management_service:
    container_name: email_management_service
    build: ../email_management_service
    env_file:
      - .env
    ports:
      - "${EMAIL_SERVICE_PORT}:${EMAIL_SERVICE_PORT}"
    networks:
      - spring_net

  accounts:
    container_name: accounts
    build: ../accounts
    env_file:
      - .env
    ports:
      - "${ACCOUNTS_PORT}:${ACCOUNTS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts_redis
      - kafka
      - email_management_service

  tasks:
    container_name: tasks
    build: ../tasks
    env_file:
      - .env
    ports:
      - "${TASKS_PORT}:${TASKS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts

volumes:
  postgres_data:
  redis_data:
  kafka_data:

networks:
  spring_net:
    driver: bridge