services:

  nginx:
    container_name: nginx
    build: ../infra-nginx-dockerized
    ports:
      - "80:80"
    networks:
      - spring_net
    extra_hosts:
      - "host.docker.internal:host-gateway"

  accounts_database:
    container_name: accounts_database
    image: postgres:latest
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${ACCOUNTS_DATABASE_USER}
      POSTGRES_PASSWORD: ${ACCOUNTS_DATABASE_PASSWORD}
      POSTGRES_DB: ${ACCOUNTS_DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - spring_net

  accounts_redis:
    container_name: accounts_redis
    env_file:
      - .env
    image: redis:latest
    command: [
      "redis-server",
      "--port", "6379",
      "--requirepass",
      "${ACCOUNTS_REDIS_PASSWORD}",
      "--notify-keyspace-events", "Ex"
    ]
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - spring_net

  redpanda:
    image: redpandadata/redpanda
    container_name: redpanda
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:9092,SASL_PLAINTEXT://0.0.0.0:9093
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092,SASL_PLAINTEXT://redpanda:9093
      - --pandaproxy-addr 0.0.0.0:8082
      - --advertise-pandaproxy-addr redpanda:8082
      - --set redpanda.enable_sasl=true
      - --set redpanda.superusers=["admin"]
    ports:
      - "9093:9093"    # Kafka API (SASL)
    environment:
      - REDPANDA_AUTO_CREATE_TOPICS=false
      - REDPANDA_ENABLE_SASL=true
    networks:
      - spring_net

  helloworld:
    container_name: helloworld
    build: ../helloworld
    env_file:
      - .env
    ports:
      - "${HELLOWORLD_PORT}:${HELLOWORLD_PORT}"
    networks:
      - spring_net

  documentation:
    container_name: documentation
    build: ../documentation
    env_file:
      - .env
    ports:
      - "${DOCUMENTATION_PORT}:${DOCUMENTATION_PORT}"
    networks:
      - spring_net

  email_management_service:
    container_name: email_management_service
    build: ../email_management_service
    env_file:
      - .env
    ports:
      - "${EMAIL_SERVICE_PORT}:${EMAIL_SERVICE_PORT}"
    networks:
      - spring_net

  accounts:
    container_name: accounts
    build: ../accounts
    env_file:
      - .env
    ports:
      - "${ACCOUNTS_PORT}:${ACCOUNTS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts_redis
      - redpanda
      - email_management_service

  tasks:
    container_name: tasks
    build: ../tasks
    env_file:
      - .env
    ports:
      - "${TASKS_PORT}:${TASKS_PORT}"
    networks:
      - spring_net
    depends_on:
      - accounts_database
      - accounts

volumes:
  postgres_data:
  redis_data:
  redpanda_data:

networks:
  spring_net:
    driver: bridge