services:

  # ------------------------------------------------------------- (aux services init)
  vault:
    image: hashicorp/vault:1.15.2
    container_name: vault
    ports:
      - "${VAULT_PORT}:${VAULT_PORT}"
    environment:
      VAULT_ADDR: "http://vault:${VAULT_PORT}"
      VAULT_API_ADDR: "http://vault:${VAULT_PORT}"
    cap_add:
      - IPC_LOCK
    networks:
      - spring_net
    volumes:
      - vault_data:/vault/data
    command: >
      sh -c '
      echo "storage \"file\" { path = \"/vault/data\" }
      listener \"tcp\" { address = \"0.0.0.0:8200\" tls_disable = 1 }
      disable_mlock = true
      ui = true" > /vault/config/vault.hcl
      && vault server -config=/vault/config/vault.hcl
      '

  nginx:
    build: ../nginx
    container_name: nginx
    env_file:
      - .env
    ports:
      - "${NGINX_PORT}:${NGINX_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD", "curl", "-f", "-A", "Docker-Healthcheck", "http://nginx/nginx-status" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  database:
    container_name: database
    env_file:
      - .env
    image: postgres:17
    environment:
      POSTGRES_USER: ${DATABASE_ADMIN_USER}
      POSTGRES_PASSWORD: ${DATABASE_ADMIN_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    expose:
      - "${DATABASE_PORT}"
    volumes:
      - database_data:/var/lib/postgresql
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_ADMIN_USER} -d ${DATABASE_NAME}" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  cachemanager:
    container_name: cachemanager
    env_file:
      - .env
    image: redis:latest
    command: [
      "redis-server",
      "--port", "6379",
      "--requirepass",
      "${CACHEMANAGER_ADMIN_PASSWORD}",
      "--notify-keyspace-events", "Ex"
    ]
    volumes:
      - cachemanager_data:/data
    expose:
      - "${CACHEMANAGER_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli -a ${CACHEMANAGER_ADMIN_PASSWORD} PING | grep PONG" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  streamingmanager:
    container_name: streamingmanager
    image: redpandadata/redpanda
    command:
      - redpanda start
      - --overprovisioned
      - --smp 1
      - --memory 1G
      - --reserve-memory 0M
      - --node-id 0
      - --kafka-addr PLAINTEXT://0.0.0.0:${STRAMINGMANAGER_PORT}
      - --advertise-kafka-addr PLAINTEXT://streamingmanager:${STRAMINGMANAGER_PORT}
      - --set redpanda.enable_auto_topic_creation=true
    volumes:
      - streamingmanager_data:/var/lib/redpanda/data
    expose:
      - "${STRAMINGMANAGER_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD-SHELL", "bash -c 'echo > /dev/tcp/streamingmanager/${STRAMINGMANAGER_PORT}'" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s
  # ------------------------------------------------------------- (aux services end)

  # ----------------------------------------------------------- ( main services init)
  documentation:
    container_name: documentation
    build: ../documentation
    env_file:
      - .env
    expose:
      - "${DOCUMENTATION_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://documentation:${DOCUMENTATION_PORT}/actuator/health" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  helloworld:
    container_name: helloworld
    env_file:
      - .env
    build: ../helloworld
    expose:
      - "${HELLOWORLD_PORT}:${HELLOWORLD_PORT}"
    networks:
      - spring_net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://helloworld:${HELLOWORLD_PORT}/actuator/health" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  emailservice:
    container_name: emailservice
    build: ../emailservice
    env_file:
      - .env
    expose:
      - "${EMAILSERVICE_PORT}"
    networks:
      - spring_net
    depends_on:
      streamingmanager:
          condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://emailservice:${EMAILSERVICE_PORT}/actuator/health" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  accounts:
    container_name: accounts
    build: ../accounts
    env_file:
      - .env
    expose:
      - "${ACCOUNTS_PORT}"
    networks:
      - spring_net
    depends_on:
      database:
        condition: service_healthy
      cachemanager:
        condition: service_healthy
      streamingmanager:
        condition: service_healthy
      emailservice:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://accounts:${ACCOUNTS_PORT}/actuator/health" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  # #####
  tasks:
    container_name: tasks
    build: ../tasks
    env_file:
      - .env
    expose:
      - "${TASKS_PORT}"
    networks:
      - spring_net
    depends_on:
      database:
        condition: service_healthy
      cachemanager:
        condition: service_healthy
      streamingmanager:
        condition: service_healthy
      emailservice:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://tasks:${TASKS_PORT}/actuator/health" ]
      interval: 30s
      retries: 5
      start_period: 10s
      timeout: 10s

  # ------------------------------------------------------------ ( main services end)

volumes:
  vault_data:
  database_data:
  cachemanager_data:
  streamingmanager_data:

networks:
  spring_net:
    driver: bridge