services:

  vault:
    image: hashicorp/vault:1.15.2
    container_name: vault
    ports:
      - "8200:8200"
    env_file:
      - .env
    environment:
      VAULT_ADDR: "http://${PRIVATE_DOMAIN}:8200"
      VAULT_API_ADDR: "http://${PRIVATE_DOMAIN}:8200"
    cap_add:
      - IPC_LOCK
    networks:
      - spring_net
    volumes:
      - vault_data:/vault/data
    command: >
      sh -c '
      echo "storage \"file\" { path = \"/vault/data\" } listener \"tcp\" { address = \"0.0.0.0:8200\" tls_disable = 1 } disable_mlock = true ui = true" > /vault/config/vault.hcl
      && vault server -config=/vault/config/vault.hcl
      '

volumes:
  vault_data:

networks:
  spring_net:
    driver: bridge