apiVersion: v1
kind: Secret

metadata:
  name: database-secrets

type: Opaque

stringData:

    # Admin
    DATABASE_ADMIN_USER: postgres
    DATABASE_ADMIN_PASSWORD:

    # Accounts
    ACCOUNTS_DATABASE_USER: accountsuser
    ACCOUNTS_DATABASE_PASSWORD:
    ACCOUNTS_DATABASE_NAME: accounts_dolistico
    ACCOUNTS_DATABASE_SCHEMA: accounts

    # Tasks
    TASKS_DATABASE_USER: tasksuser
    TASKS_DATABASE_PASSWORD:
    TASKS_DATABASE_NAME: tasks_dolistico
    TASKS_DATABASE_SCHEMA: tasks