<!DOCTYPE html>
<html lang="{{ language }}">

<head>
    <meta charset="UTF-8" />
</head>

<body style="
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background: #ffffff;
">

<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">

    <tr>
        <td align="center">

            <!-- CONTAINER -->
            <table role="presentation"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   style="width:100%;">

                <!-- CONTENT -->
                <tr>
                    <td style="
                        font-size:15px;
                        line-height:24px;
                        color:#000000;
                    ">

                        <p>{{ email_greeting }}</p>

                        <br/>
                        <br/>

                        <p>{{ email_reset_password_click }}</p>

                        <!-- BUTTON -->
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td bgcolor="#000000"
                                    style="
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        border-radius: 6px;
                                        border:3px solid #ffffff;
                                    ">

                                    <a href="{{ commandURL }}"
                                       style="
                                            color:#ffffff;
                                            text-decoration:none;
                                            font-weight:bold;
                                            font-size:15px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius: 6px;
                                       ">
                                        {{ email_click_here_link }}
                                    </a>

                                </td>
                            </tr>
                        </table>

                        <br/>
                        <br/>

                        <p>{{ email_closing }}</p>

                    </td>
                </tr>

                <!-- FOOTER -->
                <tr>
                    <td bgcolor="#000000" style="border-radius:6px; border:3px solid #FFFFFF;">

                        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">

                            <tr>

                                <!-- LEFT SPACER -->
                                <td width="20"></td>

                                <!-- CONTENT -->
                                <td>

                                    <!-- INIT SPACER -->
                                    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                            <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                                        </tr>
                                    </table>

                                    <div style="
                                        font-size:18px;
                                        font-weight:600;
                                        color:#ffffff;
                                    ">
                                        {{ applicationTitle }}
                                    </div>

                                    <br/>
                                    <br/>

                                    <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="border-bottom:1px solid #373737;"></td>
                                        </tr>
                                    </table>

                                    <br/>
                                    <br/>

                                    <div style="
                                        font-size:10px;
                                        opacity:0.7;
                                        color:#ffffff;
                                        line-height:14px;
                                    ">
                                        {{ email_footer_message }}
                                    </div>

                                    
                                    <!-- FINAL SPACER -->
                                    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
                                        <tr>
                                            <td height="40" style="font-size:0; line-height:0;">&nbsp;</td>
                                        </tr>
                                    </table>

                                </td>

                                <!-- RIGHT SPACER -->
                                <td width="20"></td>

                            </tr>

                        </table>

                    </td>
                </tr>

            </table>

        </td>
    </tr>

</table>

</body>
</html>