<!DOCTYPE html>
<html lang="{{language}}">

<head>
    <meta charset="UTF-8" />
</head>

<body style="
    margin: 0;
    padding: 0;
    width: 100%;
">

    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">

        <tr>
            <td align="center">

                <!-- MAIN CONTAINER -->
                <table role="presentation"
                    cellspacing="0"
                    cellpadding="0"
                    border="0"
                    style="width:100%;
                    max-width:1200px"
                >

                    <!-- EMAIL CONTENT -->
                    <tr>
                        <td style="
                            width: 100%;
                            font-size:15px;
                            font-family:Arial,sans-serif;
                            line-height:24px;
                            color:#000000;
                        ">

                            <!-- HEADER -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width:100%;" >

                                <tr>
                                    <td style="
                                        margin:0;
                                        width: 100%;
                                    ">

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:18px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_header}}
                                        </p>

                                    </td>
                                </tr>
                            </table>

                            <br/>

                            <!-- MESSAGE -->
                            <p style="margin:0; padding-bottom:10px;">
                                {{email_new_login_message}}
                            </p>

                            <br/>

                            <!-- DEVICE TABLE -->
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="width:100%;" >
                                <tr>
                                    <td bgcolor="#E3E3E3" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;
                                        gap: 8px;
                                        border-top-left-radius: 6px;
                                        border-top-right-radius: 6px;
                                    ">

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color: #000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_device_title}}
                                        </p>

                                    </td>
                                </tr>

                                <!-- DIVIDER -->
                                <tr><td height="1" style="height:1px; line-height:1px; font-size:0;">&nbsp;</td></tr>

                                <tr>

                                    <td bgcolor="#F5F5F5" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;
                                        gap: 8px;
                                    ">

                                        <img src="http://{{publicDomain}}/static/public/icon/account.png" width="15px" height="15px" style="border:0; vertical-align:middle;"/>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_account}}:
                                        </p>

                                        &nbsp;&nbsp;

                                        <span style="
                                            margin:0;
                                            padding:0;
                                            color:#414141 !important;
                                            text-decoration:none !important;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{emailAddress}}
                                        </span>

                                    </td>
                                </tr>

                                <!-- DIVIDER -->
                                <tr><td height="1" style="height:1px; line-height:1px; font-size:0;">&nbsp;</td></tr>

                                <tr>
                                    <td bgcolor="#F5F5F5" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;
                                        gap: 8px;
                                    ">

                                        <img src="http://{{publicDomain}}/static/public/icon/method.png" width="15px" height="15px" style="border:0; vertical-align:middle;"/>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_method}}:
                                        </p>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#414141 !important;
                                            text-decoration:none !important;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_method_password}}
                                        </p>

                                    </td>
                                </tr>

                                <!-- DIVIDER -->
                                <tr><td height="1" style="height:1px; line-height:1px; font-size:0;">&nbsp;</td></tr>

                                <tr>
                                    <td bgcolor="#F5F5F5" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;                                        
                                        gap: 8px;
                                    ">

                                        <img src="http://{{publicDomain}}/static/public/icon/location.png" width="15px" height="15px" style="border:0; vertical-align:middle;"/>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_location}}:
                                        </p>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#414141 !important;
                                            text-decoration:none !important;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{#####}}
                                        </p>

                                    </td>
                                </tr>

                                <!-- DIVIDER -->
                                <tr><td height="1" style="height:1px; line-height:1px; font-size:0;">&nbsp;</td></tr>

                                <tr>
                                    <td bgcolor="#F5F5F5" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;                                        
                                        gap: 8px;
                                    ">

                                        <img src="http://{{publicDomain}}/static/public/icon/device.png" width="15px" height="15px" style="border:0; vertical-align:middle;"/>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_Device}}:
                                        </p>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#414141 !important;
                                            text-decoration:none !important;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{#####}}
                                        </p>

                                    </td>
                                </tr>

                                <!-- DIVIDER -->
                                <tr><td height="1" style="height:1px; line-height:1px; font-size:0;">&nbsp;</td></tr>

                                <tr>
                                    <td bgcolor="#F5F5F5" style="
                                        margin:0;
                                        padding-top:8px;
                                        padding-bottom:8px;
                                        padding-left:10px;
                                        padding-right:10px;
                                        width: 100%;
                                        gap: 8px;
                                        border-bottom-left-radius: 6px;
                                        border-bottom-right-radius: 6px;
                                    ">

                                        <img src="http://{{publicDomain}}/static/public/icon/time.png" width="15px" height="15px" style="border:0; vertical-align:middle;"/>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#000000 !important;
                                            text-decoration:none !important;
                                            font-weight:bold;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{email_new_login_time}}:
                                        </p>

                                        &nbsp;&nbsp;

                                        <p style="
                                            margin:0;
                                            padding:0;
                                            color:#414141 !important;
                                            text-decoration:none !important;
                                            font-size:12px;
                                            font-family:Arial,sans-serif;
                                            display:inline-block;
                                            border-radius:6px;
                                        ">
                                            {{loginTime}}
                                        </p>

                                    </td>
                                </tr>

                            </table>

                            <br/>

                            <!-- CLOSING MESSAGE -->
                            <p style="margin:0; padding-bottom:10px;">
                                {{email_closing}}
                            </p>

                        </td>
                    </tr>

                    <!-- FOOTER -->
                    {{footer}}

                </table>

            </td>

        </tr>

    </table>

</body>
</html>