#=========================================================== ( config map init )
# Server
APPLICATION_TITLE=
PUBLIC_DOMAIN=

# Ports
NGINX_PORT=80
DATABASE_PORT=5432
CACHE_PORT=6379
MESSAGING_PORT=9092
KEYCLOAK_PORT=3000
HELLOWORLD_PORT=3001
EMAILSERVICE_PORT=3002
ACCOUNTS_PORT=3101
TASKS_PORT=3102

# Base URL
DOCUMENTATION_BASE_URL=v1/documentation
HELLOWORLD_BASE_URL=v1/helloworld
EMAIL_SERVICE_BASE_URL=v1/emailservice
ACCOUNTS_BASE_URL=v1/accounts
TASKS_BASE_URL=v1/tasks
#============================================================ ( config map end )

#========================================================== ( cloudflared init )
DATABASE_ADMIN_USER=
DATABASE_ADMIN_PASSWORD=
#=========================================================== ( cloudflared end )

#============================================================= ( database init )
CLOUDFLARE_TUNNEL_TOKEN=
#============================================================== ( database end )

#================================================================ ( cache init )
CACHE_ADMIN_PASSWORD=
#================================================================= ( cache end )

#============================================================ ( messaging init )
MESSAGING_ADMIN_USER=
MESSAGING_ADMIN_PASSWORD=
#============================================================= ( messaging end )

#========================================================= ( emailservice init )
# messaging
MESSAGING_EMAILSERVICE_USER=
MESSAGING_EMAILSERVICE_PASSWORD=

# Credentials
EMAIL_ADDRESS_USER=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_SERVICE_PORT=
EMAIL_SMTP_AUTH=
EMAIL_START_TTLS=
#========================================================== ( emailservice end )

#============================================================= ( keycloak init )

# Credentials
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

# Database
KEYCLOAK_DATABASE_USER=
KEYCLOAK_DATABASE_PASSWORD=
KEYCLOAK_DATABASE_NAME=
KEYCLOAK_DATABASE_SCHEMA=

#============================================================== ( keycloak end )

#============================================================= ( accounts init )
# Database
ACCOUNTS_DATABASE_TYPE=
ACCOUNTS_DATABASE_NAME=
ACCOUNTS_DATABASE_USER=
ACCOUNTS_DATABASE_PASSWORD=
ACCOUNTS_DATABASE_SCHEMA=
ACCOUNTS_FLYWAY_TABLE=

# Keycloak
ACCOUNTS_KEYCLOAK_REALM=
ACCOUNTS_KEYCLOAK_CLIENT_ID=
ACCOUNTS_KEYCLOAK_CLIENT_SECRET=

# Cache manager
ACCOUNTS_CACHE_USER=
ACCOUNTS_CACHE_PASSWORD=

# Messaging
ACCOUNTS_MESSAGING_USER=
ACCOUNTS_MESSAGING_PASSWORD=

# Links
VALIDATE_ACCOUNT_LINK=
UPDATE_PASSWORD_LINK=
UPDATE_EMAIL_LINK=
DELETE_ACCOUNT_LINK=

# Authentication
PRIVATE_KEY=
PUBLIC_KEY=
SECRET_KEY=
#============================================================== ( accounts end )

#================================================================ ( tasks init )
# Database
TASKS_DATABASE_TYPE=
TASKS_DATABASE_PORT=
TASKS_DATABASE_NAME=
TASKS_DATABASE_USER=
TASKS_DATABASE_PASSWORD=
TASKS_DATABASE_SCHEMA=
TASKS_FLYWAY_TABLE=

# Cache manager
TASKS_CACHE_USER=
TASKS_CACHE_PASSWORD=

# Messaging
TASKS_MESSAGING_USER=
TASKS_MESSAGING_PASSWORD=
#================================================================= ( tasks end )