#=========================================================== ( config map init )

# Server
APPLICATION_TITLE=
PUBLIC_DOMAIN=

# Ports
NGINX_PORT=80
DATABASE_PORT=5432
CACHE_PORT=6379
MESSAGING_PORT=9092
KEYCLOAK_PORT=3000
HELLO_WORLD_PORT=3001
EMAIL_SERVICE_PORT=3002
ACCOUNTS_PORT=3010
TASKS_PORT=3011

# Base URL
DOCUMENTATION_BASE_URL=v1/documentation
HELLO_WORLD_BASE_URL=v1/helloworld
EMAIL_SERVICE_BASE_URL=v1/emailservice
ACCOUNTS_BASE_URL=v1/accounts
TASKS_BASE_URL=v1/tasks

#============================================================ ( config map end )

#=========================================================== ( cloudflare init )
CLOUDFLARE_TUNNEL_TOKEN=
#============================================================ ( cloudflare end )

#============================================================= ( database init )
DATABASE_ADMIN_USER=
DATABASE_ADMIN_PASSWORD=
#============================================================== ( database end )

#================================================================ ( cache init )
CACHE_ADMIN_USER=
CACHE_ADMIN_PASSWORD=
#================================================================= ( cache end )

#============================================================ ( messaging init )
MESSAGING_ADMIN_USER=
MESSAGING_ADMIN_PASSWORD=
#============================================================= ( messaging end )

#========================================================= ( email_service init )

# messaging
EMAIL_SERVICE_MESSAGING_USER=
EMAIL_SERVICE_MESSAGING_PASSWORD=

# Credentials
EMAIL_SERVICE_ADDRESS_USER=
EMAIL_SERVICE_PASSWORD=
EMAIL_SERVICE_HOST=
EMAIL_SERVICE_PORT=
EMAIL_SERVICE_SERVICE_PORT=
EMAIL_SERVICE_SMTP_AUTH=
EMAIL_SERVICE_START_TTLS=

#========================================================== ( email_service end )

#============================================================= ( keycloak init )

# Server
KEYCLOAK_BASE_URL=

# Credentials
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

# Database
KEYCLOAK_DATABASE_USER=
KEYCLOAK_DATABASE_PASSWORD=
KEYCLOAK_DATABASE_NAME=
KEYCLOAK_DATABASE_SCHEMA=

#============================================================== ( keycloak end )

#============================================================= ( accounts init )

# Database
ACCOUNTS_DATABASE_TYPE=
ACCOUNTS_DATABASE_PORT=
ACCOUNTS_DATABASE_NAME=
ACCOUNTS_DATABASE_USER=
ACCOUNTS_DATABASE_PASSWORD=
ACCOUNTS_DATABASE_SCHEMA=
ACCOUNTS_FLYWAY_TABLE=

# Keycloak
ACCOUNTS_KEYCLOAK_REALM=
ACCOUNTS_KEYCLOAK_CLIENT_ID=
ACCOUNTS_KEYCLOAK_CLIENT_SECRET=

# Cache
ACCOUNTS_CACHE_USER=
ACCOUNTS_CACHE_PASSWORD=

# Messaging
ACCOUNTS_MESSAGING_USER=
ACCOUNTS_MESSAGING_PASSWORD=

# Links
UPDATE_PASSWORD_URL=
UPDATE_EMAIL_URL=
DELETE_ACCOUNT_URL=

# Encryption
ACCOUNTS_SECRET_KEY=

#============================================================== ( accounts end )

#================================================================ ( tasks init )

# Database
TASKS_DATABASE_USER=
TASKS_DATABASE_PASSWORD=
TASKS_DATABASE_TYPE=
TASKS_DATABASE_PORT=
TASKS_DATABASE_NAME=
TASKS_DATABASE_SCHEMA=
TASKS_FLYWAY_TABLE=

# Cache manager
TASKS_CACHE_USER=
TASKS_CACHE_PASSWORD=

# Messaging
TASKS_MESSAGING_USER=
TASKS_MESSAGING_PASSWORD=

#================================================================= ( tasks end )