/* Fullscreen loading overlay */
#loading {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Spinner animation */
.spinner {
    width: 7vh;
    height: 7vh;
    background-image: url("../../../assets/images/spin-loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} to { transform: rotate(360deg); }

#text-info {
    margin-top: 10px;
    text-align: center;
    color: var(--gray2);
    padding: 5px;
    font-size: 9px;
}

#formUpdatepasswordFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#updatePasswordForm {
    width: 300px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 5px;
}

#password {
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--gray3);
    font-size: 12px;
}

input#password.passworderror {
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--darkred);
}

#password:focus {
    border: 2px solid var(--gray1);
}

#hidepassword {
    position: absolute;
    right: 2px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: white;
}


#hidepasswordimg {
    width: 26px;
    height: 26px;
}

#sendButtom {
    width: 100%;
    height: 40px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background-color: var(--gray1);
    color: var(--gray5);
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
}

#sendButtom:hover {
    background-color: var(--gray2);
}

#passwordBox{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#passIcon {
    width: 50px;
    height: 100%;
    background-color: var(--gray1);
    border-radius: 8px;
    background-image: url("../../../assets/images/reset-password.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: auto 50%;
}

#userIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--gray5);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow: hidden;
    border: 3px solid var(--gray3);
}

#userIconHead {
    width: 35px;
    height: 35px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    top: 15px;
}

#userIconBody {
    width: 80px;
    height: 80px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    bottom: -40px;
}

#errorFrame {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 999;
}

body.success-background {
    background-color: var(--green) !important;
}

#textResponse {
    display: none;
    color: var(--black);
    font-size: 2.8vh;
    line-height: 1.5;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: initial;
    font-weight: bold;
    padding: 50px;
}

#successicon{
    display: none;
    width: 10vh;
    height: 10vh;
    background-image: url("../../../assets/images/success.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.animatedError {
    animation: fadeOnly 1s forwards;
}

@keyframes fadeOnly {
    from { opacity: 1; }
    to { opacity: 0; }
}

#errorFrame {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    display: flex;
    flex-direction: column;
}

.errortext {
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    color: var(--gray5);
    font-weight: bold;
    background-color: var(--darkred);
    border-radius: 6px;
    font-size: 12px;
    transition: transform 0.35s ease, opacity 0.35s ease;
    text-align: center;
}

.fadeOutUp {
    opacity: 0;
    transform: translateY(-20px);
}

.errorText::first-letter {
    text-transform: uppercase;
}

.updateInfo {
    color: var(--black);
    font-size: 14px;
    width: 90%;
    max-width: 400px;
    text-transform: initial;
    text-align: center;
}

/* >>> MOBILE <<< */
@media (max-width: 768px) {

    #updatePasswordForm {
        width: 75%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        gap: 5px;
    }

    #passwordBox{
        height: 50px;
    }

    #sendButtom {
        height: 50px;
    }

    #errorFrame {
        position: absolute;
        top: 3vh;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: flex;
        flex-direction: column;

    }


}