apiVersion: v1
kind: Secret
metadata:
    name: app-secrets
type: Opaque
stringData:

    # Common
    APPLICATION_TITLE: ""
    PUBLIC_DOMAIN: "secrets.yaml"

    # Documentation
    DOCUMENTATION_BASE_URL: ""

    # Helloworld service
    HELLOWORLD_BASE_URL: ""
    HELLOWORLD_PORT: ""

    # Cloudflare
    TUNNEL_TOKEN: ""

    # Nginx
    NGINX_PORT: ""